form {
  font-size: 14px;
  width: 400px;
  margin: 30px auto;
  padding: 10px 20px 10px 33px;
  border: 1px solid #555;
}

.form-title {
  text-align: left;
  font-size: 24px;
  color: #2b6c94;
  margin-right: 30px;
}

p {
  margin-top: 40px;
}

/* .form-title{
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
} */

input[name="email"] {
  margin-bottom: 4px;
}

input[name="pass"] {
  margin-bottom: 4px;
}

input[type="text"] {
  width: 250px;
  padding: 4px;
  font-size: 14px;
}

input[type="password"] {
  width: 250px;
  padding: 4px;
  font-size: 14px;
}

div.container {
  display: table;
  width: 100%;
}
a.top {
  display: table-cell;
  text-align: left;
}

.login {
  display: table-cell;
  text-align: right;
  margin: 10px;
  padding: 10 px;
}

.login input {
  background: #36a3eb;
  background-image: -webkit-linear-gradient(top, #36a3eb, #28a4f0);
  background-image: -moz-linear-gradient(top, #36a3eb, #28a4f0);
  background-image: -ms-linear-gradient(top, #36a3eb, #28a4f0);
  background-image: -o-linear-gradient(top, #36a3eb, #28a4f0);
  background-image: linear-gradient(to bottom, #36a3eb, #28a4f0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #333333;
  -webkit-box-shadow: 0px 1px 2px #666666;
  -moz-box-shadow: 0px 1px 2px #666666;
  box-shadow: 0px 1px 2px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 1px 20px;
  border: solid #9cfcff 1px;
  text-decoration: none;
}

.login input:hover {
  background: #61c2ff;
  text-decoration: none;
}
