<html>

<head>
    <meta charset="UTF-8">
    <title>Perlebon kids &ndash; 会員登録完了</title>
</head>

<body>
    {% include 'header_cart.html.twig'%}
        <div class="register_done">

            登録が完了しました。
            <br /><br />
            <a href="shop_list.php">商品画面へ</a>
            <br />
            <a href="../toppage/index.html">TOPぺージへ</a>
        </div>
    {% include 'footer_cart.html.twig'%}

</body>

</html>